<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.vino42.domain.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.vino42.domain.entity.UserEntity">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="login_name" property="loginName"/>
        <result column="passwd" property="passwd"/>
        <result column="real_name" property="realName"/>
        <result column=" create_time" property=" createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, login_name, passwd, real_name,  create_time, update_time, status
    </sql>
    <select id="getCasbinUserResourcePermissionModel"
            resultType="io.github.vino42.domain.model.CasbinUserResourcePermissionModel">
        select u.id AS user_id,sr.resource_path,sr.permission from sys_user u  LEFT JOIN rel_user_role rur ON u.id=rur.user_id
                                  LEFT JOIN rel_role_resource rrr ON rur.role_id=rrr.role_id
                                  LEFT JOIN sys_resource sr ON sr.id=rrr.resource_id
                                  WHERE 1=1
                                  AND u.status=1
                                  AND sr.status=1

    </select>
    <select id="getCasbinUserRoleModel" resultType="io.github.vino42.domain.model.CasbinUserRoleModel">
          select su.id AS user_id,sr.id AS role_id from sys_role sr  LEFT JOIN rel_user_role rur ON sr.id=rur.role_id
                                                          LEFT JOIN sys_user su ON su.id=rur.user_id
                                  WHERE 1=1
                                  AND su.status=1
    </select>
    <select id="getCasbinRoleResourceModel" resultType="io.github.vino42.domain.model.CasbinRoleResourceModel">
                select resource_path,rur.role_id from sys_user u  LEFT JOIN rel_user_role rur ON u.id=rur.user_id
                                  LEFT JOIN rel_role_resource rrr ON rur.role_id=rrr.role_id
                                  LEFT JOIN sys_resource sr ON sr.id=rrr.resource_id
                                  WHERE 1=1
                                  AND u.status=1
                                  AND sr.status=1
    </select>
    <select id="getCasbinUserResourcePermissionModelByUserIdAndRoleId"
            resultType="io.github.vino42.domain.model.CasbinUserResourcePermissionModel">
                select u.id AS user_id,sr.resource_path,sr.permission from sys_user u  LEFT JOIN rel_user_role rur ON u.id=rur.user_id
                                  LEFT JOIN rel_role_resource rrr ON rur.role_id=rrr.role_id
                                  LEFT JOIN sys_resource sr ON sr.id=rrr.resource_id
                                  WHERE 1=1
                                  AND u.status=1
                                  AND sr.status=1
                                  AND u.id=#{userId}
                                  AND rur.role_id=#{roleId}
                                  AND rur.role_id=#{roleId}
    </select>

</mapper>
